#define SECRET_SSID "yourWifiSSID"  // your network SSID (name)
#define SECRET_PASS "yourWifiPassword"  // your network password (use for WPA, or use as key for WEP)
#define NEON_PROXY "your self-deployed Neon proxy's hostname" // e.g. "yourserver.yourdomain.com"
#define DATABASE_URL "your postgresql connection string" // e.g. "postgresql://arduino:arduino_password@yourserver.yourdomain.com:4444/postgres"